<app-accounts-container>
	<!-- Right Side (Login Form) -->
	<div class="lg:w-1/2 flex flex-col gap-[72px] justify-center items-center p-8 bg-surface">
		<div class="flex flex-col">

			<div class="flex flex-col gap-8 items-center text-on-surface">
				<!-- <img src="assets/logo.png" alt="Logo" class="mb-4 w-40"> -->
				<!-- <app-temp-logo /> -->
				<h3>{{ programName() }}</h3>
				<h2 class="text-3xl font-medium mb-20 text-on-surface">Login to your account</h2>
			</div>

			<form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="w-[400px] max-w-md space-y-4">

				<div class="flex flex-col gap-4">
					<!-- Email Field -->
					<mat-form-field [appearance]="'outline'" class="w-full">
						<mat-label>Email</mat-label>
						<input matInput formControlName="email" type="email" required>
					</mat-form-field>

					<!-- Password Field -->
					<mat-form-field [appearance]="'outline'" class="w-full">
						<mat-label>Password</mat-label>
						<input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>

						<button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
							<mat-icon class="material-symbols-outlined">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
						</button>
					</mat-form-field>
				</div>

				<div>
					<!-- Login Button -->
					<button mat-flat-button color="primary" class="w-full h-12 text-lg font-normal rounded-full" type="submit">Login</button>

					<!-- Sign Up Link -->
					<p class="text-center text-gray-600 mt-4">
						New here?<a
							routerLink="../signup"
							routerLinkActive
							#signup="routerLinkActive"
							class="text-primary font-semibold"

						>  Sign up</a>
					</p>
				</div>
			</form>
		</div>
	</div>
</app-accounts-container>
