<div class="flex h-screen">
	<!-- Left Side -->
	<div class="hidden lg:flex w-1/2 bg-primary text-surface flex-col justify-center px-16 pt-30 pb-12">

		<div class="flex flex-col justify-center items-center gap-5">
			<div class="text-surface mat-display-medium w-full h-13 m-0">
				Grow your business with referrals
			</div>
			<p class="mat-title-large text-surface w-full h-14 text-left m-0">
				Everything you need at one place.
			</p>
		</div>

		<div>
			<p class="absolute bottom-4 mat-body-large">
				<span class="text-var(--sys-surface-container-high)">Powered by </span>
				<span class="text-var(--sys-surface-container-low)">Cliq</span>
			</p>
		</div>
	</div>

	<ng-content />
</div>
