//artifacts.quicko.company/repository/npm-snapshots/:_authToken=NpmToken.e981e3c7-e9d5-3fd2-b330-4c4992588903


registry=https://artifacts.quicko.company/repository/npm-snapshots-group
//artifacts.quicko.company/repository/:_auth="YXl1c2gucGFuZGl0YToxbmZ1JDEwbg==