services:
  # cliq-app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   ports:
  #     - "3001:3001"
  #   env_file:
  #     - ./.env
  #   environment:
  #     - PORT=3001
  #     - DB_PORT=5432
  #     - DB_HOST=cliq-db
  #     - DB_USERNAME=root
  #     - DB_PASSWORD=root
  #     - DB_NAME=cliq
  #     - REDIS_HOST=cliq-redis
  #     - REDIS_PORT=6379
  #     - SALT_ROUNDS=10
  #     - NODE_ENV=production
  #     - JWT_SECRET
  #     - JWT_EXPIRES_IN
  #   depends_on:
  #     cliq-db:
  #       condition: service_healthy
  #     cliq-redis:
  #       condition: service_healthy
  #   networks:
  #     - cliq-network

  cliq-db:
    image: postgres:17
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=cliq
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - 5433:5432
    restart: unless-stopped
    networks:
      - cliq-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 6

  cliq-redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data
    networks:
      - cliq-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 6

networks:
  cliq-network:
    driver: bridge

volumes:
  cliq-data:
