<div class="hover:cursor-pointer">
	<ngx-avatars 
		size="40" 
		[round]="true" 
		[name]="userName()" 
		bgColor="var(--sys-primary-fixed)"
		fgColor="var(--sys-on-primary-fixed-variant)" 
		[mat-menu-trigger-for]="profileOptions"
	>
	</ngx-avatars>
</div>

<mat-menu 
	class="w-[300px] mt-[22px] rounded-[5px]" 
	#profileOptions="matMenu" 
	yPosition="below" 
	xPosition="before"
>
	<ng-template matMenuContent>
		<div class="flex flex-col">
			<!-- User Info Section -->
			<div class="border-b border-b-outline-variant px-[16px] py-[16px]">
				<div class="w-full h-auto">
					<div class="flex flex-col gap-[4px]">
						<div class="flex gap-[8px] items-center text-on-surface max-w-full">
							<div class="mat-body-large truncate max-w-[180px]">
								{{ userName() | titlecase }}
							</div>
							@if(userRole()) {
							<div class="bg-surface-container-highest mat-label-small px-[8px] py-[4px] whitespace-nowrap rounded">
								{{ userRole()?.replace("_", " ") | titlecase }}
							</div>
							}
						</div>
						<div class="mat-body-medium text-outline">{{ userEmail() }}</div>
					</div>
				</div>
			</div>

			<!-- Settings Option -->
			<div class="flex flex-col mat-body-large text-on-surface-variant">
				<div 
					class="flex gap-[12px] px-[16px] py-[16px] hover:bg-neutral-10 hover:bg-opacity-[8%]" 
					mat-menu-item
					(click)="goToSettings()"
				>
					<mat-icon class="material-symbols-outlined mr-0">settings</mat-icon>
					<div class="cursor-pointer">Settings</div>
				</div>
			</div>

			<!-- Sign Out Option -->
			<div class="flex flex-col">
				<div 
					class="flex gap-[12px] px-[16px] py-[16px] hover:bg-neutral-10 hover:bg-opacity-[8%]" 
					mat-menu-item
					(click)="logout()"
				>
					<mat-icon class="material-symbols-outlined mr-0">logout</mat-icon>
					<div class="cursor-pointer">Sign Out</div>
				</div>
			</div>
		</div>
	</ng-template>
</mat-menu>