<div class="py-10 flex justify-center min-h-screen">
  <div class="flex flex-col gap-6 w-full max-w-[1920px] px-12">
    <div class="flex justify-between items-center">
      <div class="mat-headline-medium m-0 text-on-surface">
        @if(count()! > 0) { Programs ({{ count() }}) } @else {
        Programs }
      </div>
      <button
        mat-flat-button
        class="rounded-full"
        (click)="onCreateProgram()"
      >
        <div class="flex gap-2 items-center">
          <mat-icon class="text-on-primary">add</mat-icon>
          <div class="mat-label-large text-on-primary">
            Create new Program
          </div>
        </div>
      </button>
    </div>
    @if(!isLoading() && (!count() || count() == 0) && !isFilterApplied) {
      <div class="flex justify-center items-center py-[15%]">
        <div class="flex flex-col items-center gap-4 w-full">
          <div
            class="bg-surface-container rounded-full flex justify-center items-center p-3"
          >
            <mat-icon
              class="text-on-surface-variant material-symbols-outlined h-[48px] w-[48px] text-[48px]"
              >campaign</mat-icon
            >
          </div>
          <div class="flex flex-col justify-center items-center gap-1">
            <div class="mat-title-large text-on-surface">
              No programs to show
            </div>
            <div
              class="flex flex-col gap-1 justify-center items-center mat-body-medium text-on-surface-variant"
            >
              <div>You haven't created any program.</div>
            </div>
          </div>
          <button
            mat-flat-button
            class="rounded-full mt-1"
            (click)="onCreateProgram()"
          >
            <mat-icon class="material-symbols-outlined text-on-primary left-[3px]"
              >add</mat-icon
            >
            <span class="mat-large-font text-on-primary">Create your first program</span>
          </button>
        </div>
      </div>
    } @else {
      <div class="flex flex-col gap-6 flex-1">
      <div
        class="flex items-center gap-[10px] w-full border rounded-[4px] h-[56px] border-outline-variant"
      >
        <div class="h-[48px] w-[48px] flex justify-center items-center">
          <mat-icon class="text-on-surface-variant">search</mat-icon>
        </div>
        <input
          matInput
          [formControl]="searchControl"
          class="focus:outline-none align-middle py-[4px] w-full mat-body-large text-on-surface placeholder:text-outline"
          placeholder="Search programs"
        />
      </div>
      <div
        class="border-[1px] rounded-[5px] border-outline-variant overflow-hidden w-full"
      >
        @if(!isLoading()) {
        <mat-table
          mat-table
          matSort
          [matSortActive]="sortOptions().active"
          [matSortDirection]="sortOptions().direction"
          matSortDisableClear="true"
          (matSortChange)="onSortChange($event)"
          [dataSource]="datasource"
          class="table-fixed w-full"
        >
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface py-3 px-6 w-[28%] align-middle"
            >
              Name
            </th>
            <td
              mat-cell
              *matCellDef="let program"
              class="mat-body-medium text-on-surface-variant truncate py-4 px-6 w-[28%]"
            >
              {{ program.programName }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="totalPromoters">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface py-3 px-6 w-[20%] text-center align-middle"
            >
              Total promoters
            </th>
            <td
              mat-cell
              *matCellDef="let program"
              class="mat-body-medium text-on-surface-variant truncate py-4 px-6 w-[20%] text-center"
            >
              {{ program.totalPromoters | number }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="totalReferrals">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface py-3 px-6 w-[25%] text-center align-middle"
            >
              Total referrals
            </th>
            <td
              mat-cell
              *matCellDef="let program"
              class="mat-body-medium text-on-surface-variant truncate py-4 px-6 w-[25%] text-center"
            >
              {{ program.totalReferrals | number }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="createdAt">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="mat-body-medium text-on-surface py-3 px-6 w-[25%] text-center align-middle"
            >
              Created at
            </th>
            <td
              mat-cell
              *matCellDef="let program"
              class="mat-body-medium text-on-surface-variant truncate py-4 px-6 w-[25%] text-center"
            >
              {{ program.createdAt | ordinalDate }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="navigate" stickyEnd>
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface py-3 px-6 w-[5%]"
            >
              &nbsp;
            </th>
            <td
              mat-cell
              *matCellDef="let program"
              class="mat-body-medium text-on-surface truncate py-4 px-6 w-[5%]"
            >
              <mat-icon class="text-on-surface-variant">chevron_right</mat-icon>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: columns"
            class="hover:bg-surface-bright cursor-pointer"
            (click)="onRowClick(row)"
          ></tr>
  
          <tr class="empty-row" *matNoDataRow>
            <td [attr.colspan]="columns.length">
              <div class="flex flex-col justify-center items-center h-[300px]">
                <div class="p-6 text-center flex flex-col gap-4">
                  <div
                    class="text-on-surface-variant flex flex-col items-center gap-y-[16px]"
                  >
                    <div
                      class="scale-150 rounded-full inline-flex justify-start items-center gap-2.5 overflow-hidden bg-surface-container p-3"
                    >
                      <mat-icon
                        class="material-symbols-outlined text-on-surface-variant"
                        >campaign</mat-icon
                      >
                    </div>
                    <p class="text-on-surface mat-body-large">
                      No programs to show
                    </p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </mat-table>
        } @else {
        <mat-table
          mat-table
          [dataSource]="tempDatasource"
          class="table-fixed w-full"
        >
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface py-3 px-6 w-[28%] align-middle"
            >
              Name
            </th>
            <td
              mat-cell
              *matCellDef="let program"
              class="mat-body-medium text-on-surface truncate py-4 px-6 w-[28%]"
            >
              <ngx-skeleton-loader
                [theme]="{
                  height: '24px',
                  width: '100px',
                  margin: '0px',
                  padding: '0px'
                }"
              ></ngx-skeleton-loader>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="totalPromoters">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface py-3 px-6 w-[20%] text-center align-middle"
            >
              Total promoters
            </th>
            <td
              mat-cell
              *matCellDef="let program"
              class="mat-body-medium text-on-surface truncate py-4 px-6 w-[20%] text-center"
            >
              <div class="flex justify-center">
                <ngx-skeleton-loader
                  [theme]="{
                    height: '24px',
                    width: '60px',
                    margin: '0px',
                    padding: '0px'
                  }"
                ></ngx-skeleton-loader>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="totalReferrals">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface py-3 px-6 w-[20%] text-center align-middle"
            >
              Total referrals
            </th>
            <td
              mat-cell
              *matCellDef="let program"
              class="mat-body-medium text-on-surface truncate py-4 px-6 w-[20%] text-center"
            >
              <div class="flex justify-center">
                <ngx-skeleton-loader
                  [theme]="{
                    height: '24px',
                    width: '60px',
                    margin: '0px',
                    padding: '0px'
                  }"
                ></ngx-skeleton-loader>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="createdAt">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface py-3 px-6 w-[25%] text-center align-middle"
            >
              Created at
            </th>
            <td
              mat-cell
              *matCellDef="let program"
              class="mat-body-medium text-on-surface truncate py-4 px-6 w-[25%] text-center"
            >
              <div class="flex justify-center">
                <ngx-skeleton-loader
                  [theme]="{
                    height: '24px',
                    width: '120px',
                    margin: '0px',
                    padding: '0px'
                  }"
                ></ngx-skeleton-loader>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="navigate" stickyEnd>
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface py-3 px-6 w-[5%]"
            >
              &nbsp;
            </th>
            <td
              mat-cell
              *matCellDef="let program"
              class="mat-body-medium text-on-surface truncate py-4 px-6 w-[5%]"
            >
              <ngx-skeleton-loader
                [theme]="{
                  height: '24px',
                  width: '24px',
                  margin: '0px',
                  padding: '0px'
                }"
              ></ngx-skeleton-loader>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns"></tr>
        </mat-table>
        }
      </div>
      <div class="mt-auto pt-4">
        <mat-paginator
          [length]="count()"
          [pageIndex]="paginationOptions().pageIndex"
          [pageSize]="paginationOptions().pageSize"
          [pageSizeOptions]="[10, 25, 50, 100]"
          (page)="onPageChange($event)"
        ></mat-paginator>
      </div>
      </div>
    }
  </div>
</div>
