/* ::ng-deep .quill-fill {
	display: flex;
	flex-direction: column;
	min-height: 0;
}

::ng-deep .quill-fill .ql-toolbar {
	border-radius: 5px 5px 0 0;
	border: 1px solid var(--mat-sys-outline-variant);
}

::ng-deep .quill-fill .ql-container {
	flex: 1;
	min-height: 0;
	border-radius: 0 0 5px 5px;
	border: 1px solid var(--mat-sys-outline-variant);
	border-top: none;
}

::ng-deep .quill-fill .ql-editor {
	min-height: 100%;
}

::ng-deep .headline-field .mat-mdc-form-field-subscript-wrapper {
	display: none;
} */
