<table class="w-full h-auto bg-transparent table-auto" [ngStyle]="{ 'max-height': maxHeight }">
  <thead class="border-b border-outline-variant">
    <tr class="h-[56px] flex items-center" [ngClass]="headerClass">
      @for (header of headers; track header) {
        <th [class]="header.parentTheme">
          <ngx-skeleton-loader [theme]="addStyles(header.theme, { 'margin-botton': '0px' })" />
        </th>
      }
    </tr>
  </thead>

  <tbody>
    @for (_ of [].constructor(rowCount); track _) {
      <tr
        class="h-[76px] flex items-center border-b border-outline-variant" [ngClass]="rowClass">
        @for (cell of rows; track cell) {
          <td class="flex items-center" [ngClass]="cell.parentTheme">
            <ngx-skeleton-loader [theme]="addStyles(cell.theme, { 'margin-botton': '0px' })" />
          </td>
        }
      </tr>
    }
  </tbody>
</table>
