<div class="super-admin-programs w-full h-auto min-h-[604px] flex flex-col gap-4">
	<!-- Header -->
	<div class="h-auto min-h-10 flex flex-row justify-between items-center">
		<div>
			<span class="text-on-surface mat-title-large">Team</span>
		</div>
		<div>
			<button mat-flat-button (click)="onAddUser()" class="bg-primary rounded-full text-on-primary px-6 py-2">
				<mat-icon>add</mat-icon> Add
			</button>
		</div>
	</div>

	<!-- Table -->
	<div class="border border-outline-variant rounded-[5px] overflow-hidden">
		<table mat-table [dataSource]="dataSource" class="w-full">

			<!-- Name -->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef class="p-4 mat-body-medium text-outline w-[25%]">Name</th>
				<td mat-cell *matCellDef="let user" class="p-4 mat-body-large text-on-surface-variant w-[25%]">
					{{ user.firstName }} {{ user.lastName }}
				</td>
			</ng-container>

			<!-- Email -->
			<ng-container matColumnDef="email">
				<th mat-header-cell *matHeaderCellDef class="p-4 mat-body-medium text-outline text-center w-[25%]">Email</th>
				<td mat-cell *matCellDef="let user" class="p-4 mat-body-large text-on-surface-variant text-center w-[25%]">
					{{ user.email ?? '-' }}
				</td>
			</ng-container>

			<!-- Role -->
			<ng-container matColumnDef="role">
				<th mat-header-cell *matHeaderCellDef class="p-4 mat-body-medium text-outline text-center w-[15%]">Role</th>
				<td mat-cell *matCellDef="let user" class="p-4 mat-body-large text-on-surface-variant text-center w-[15%]">
					<span class="px-3 py-1 rounded-[4px] bg-surface-container text-sm">
						{{ user.role.split('_').join(' ') | titlecase }}
					</span>
				</td>
			</ng-container>

			<!-- Joined On -->
			<ng-container matColumnDef="joinedOn">
				<th mat-header-cell *matHeaderCellDef class="p-4 mat-body-medium text-outline text-center w-[25%]">Joined on</th>
				<td mat-cell *matCellDef="let user" class="p-4 mat-body-large text-on-surface-variant text-center w-[25%]">
					{{ user.createdAt | ordinalDate }}
				</td>
			</ng-container>

			<!-- Menu -->
			<ng-container matColumnDef="menu">
				<th mat-header-cell *matHeaderCellDef class="w-[10%]"></th>
				<td mat-cell *matCellDef="let user" class="p-4 text-center w-[10%]">
					<button mat-icon-button [matMenuTriggerFor]="userMenu">
						<mat-icon>more_vert</mat-icon>
					</button>

					<mat-menu #userMenu="matMenu" class="bg-surface-container-lowest w-[256px]">
						<button mat-menu-item class="gap-2" (click)="onEdit(user)">
							<mat-icon class="material-symbols-outlined">edit</mat-icon>
							<span class="mat-body-large text-on-surface">Edit profile</span>
						</button>
						<button mat-menu-item class="gap-2" (click)="onRemove(user)">
							<mat-icon class="material-symbols-outlined">delete</mat-icon>
							<span class="mat-body-large text-on-surface">Remove</span>
						</button>
					</mat-menu>
				</td>
			</ng-container>

			<!-- Header + Rows -->
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-surface-container h-[76px] px-4 py-3"></tr>

			<!-- Empty State -->
			<tr class="empty-row" *matNoDataRow>
				<td [attr.colspan]="displayedColumns.length">
					<div class="flex flex-col justify-center items-center h-[300px]">
						<div class="p-6 text-center flex flex-col gap-4">
							<div class="text-on-surface-variant flex flex-col items-center gap-y-[16px]">
								<div class="scale-150 rounded-full inline-flex justify-start items-center gap-2.5 overflow-hidden bg-surface-container p-3">
									<mat-icon class="material-symbols-outlined">group</mat-icon>
								</div>
								<p class="text-on-surface mat-body-large">No team members to show</p>
							</div>
						</div>
					</div>
				</td>
			</tr>

		</table>
	</div>

	<!-- Pagination -->
	<mat-paginator
		[length]="totalDataLength()"
		[pageSize]="pagination().pageSize"
		[pageIndex]="pagination().pageIndex"
		(page)="onPageChange($event)"
	></mat-paginator>
</div>
