<mat-sidenav-container class="h-screen fixed">
	<mat-sidenav opened mode="side" class="!w-[272px] bg-surface-container-lowest" disableClose>
		<div class="pt-[32px] pr-[16px] pl-[16px]">
			<mat-nav-list class="cursor-pointer">
				<a routerLink="./dashboard" routerLinkActive #dashboard="routerLinkActive" class="block mb-2">
					<mat-list-item [activated]="dashboard.isActive" class="px-4 py-1">
						<mat-icon matListItemIcon class="material-symbols-outlined text-on-surface">
							browse
						</mat-icon>
						<div matListItemTitle [class]="'font-sans font-medium text-on-secondary-container leading-[20px] ' + (dashboard.isActive ? 'font-semibold' : '')">
							Dashboard
						</div>
					</mat-list-item>
				</a>
				<a routerLink="./referrals" routerLinkActive #referrals="routerLinkActive" class="block mb-2">
					<mat-list-item [activated]="referrals.isActive" class="px-4 py-1">
						<mat-icon matListItemIcon class="material-symbols-outlined text-on-surface">
							supervised_user_circle
						</mat-icon>
						<div matListItemTitle [class]="'font-sans font-medium text-on-secondary-container leading-[20px] ' + (referrals.isActive ? 'font-semibold' : '')">
							Referrals
						</div>
					</mat-list-item>
				</a>
				<a routerLink="./reports" routerLinkActive #reports="routerLinkActive" class="block mb-2">
					<mat-list-item [activated]="reports.isActive" class="px-4 py-1">
						<mat-icon matListItemIcon class="material-symbols-outlined text-on-surface">
							article
						</mat-icon>
						<div matListItemTitle [class]="'font-sans font-medium text-on-secondary-container leading-[20px] ' + (reports.isActive ? 'font-semibold' : '')">
							Reports
						</div>
					</mat-list-item>
				</a>
			</mat-nav-list>
		</div>
	</mat-sidenav>
</mat-sidenav-container>
