<div class="w-full h-auto min-h-[528px] gap-6">
	<div class="flex flex-col gap-6">
		<!-- Header -->
		<div>
			<div class="w-full h-auto min-h-[104px] flex flex-col gap-5">
				<div><span class="mat-headline-medium text-on-surface">Settings</span></div>

				<div class="flex justify-start w-fit">
					<nav mat-tab-nav-bar [tabPanel]="tabPanel" class="flex justify-start items-start h-12">
						<a mat-tab-link routerLink="Profile" routerLinkActive #rlaProfile="routerLinkActive" [active]="rlaProfile.isActive" [class]="rlaProfile.isActive ? 'text-primary' : 'text-on-surface-variant'">
							<div class="flex justify-start items-center gap-[8px] py-[12px]">
								<div class="mat-body-medium tracking-normal text-on-surface">Profile</div>
							</div>
						</a>
						<a mat-tab-link routerLink="Program" routerLinkActive #rlaProgram="routerLinkActive" [active]="rlaProgram.isActive" [class]="rlaProgram.isActive ? 'text-primary' : 'text-on-surface-variant'">
							<div class="flex justify-start items-center gap-[8px] py-[12px]">
								<div class="mat-body-medium tracking-normal text-on-surface">Program</div>
							</div>
						</a>
						<a mat-tab-link routerLink="Team" routerLinkActive #rlaTeam="routerLinkActive" [active]="rlaTeam.isActive" [class]="rlaTeam.isActive ? 'text-primary' : 'text-on-surface-variant'">
							<div class="flex justify-start items-center gap-[8px] py-[12px]">
								<div class="mat-body-medium tracking-normal text-on-surface">Team</div>
							</div>
						</a>
						<a mat-tab-link routerLink="api-keys" routerLinkActive #rlaApiKeys="routerLinkActive" [active]="rlaApiKeys.isActive" [class]="rlaApiKeys.isActive ? 'text-primary' : 'text-on-surface-variant'">
							<div class="flex justify-start items-center gap-[8px] py-[12px]">
								<div class="mat-body-medium tracking-normal text-on-surface">API Keys</div>
							</div>
						</a>
						<a mat-tab-link routerLink="webhooks" routerLinkActive #rlaWebhooks="routerLinkActive" [active]="rlaWebhooks.isActive" [class]="rlaWebhooks.isActive ? 'text-primary' : 'text-on-surface-variant'">
							<div class="flex justify-start items-center gap-[8px] py-[12px]">
								<div class="mat-body-medium tracking-normal text-on-surface">Webhooks</div>
							</div>
						</a>
					</nav>
					<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
				</div>
			</div>
			<mat-divider class="w-full -mt-[2px] border-outline-variant"></mat-divider>
		</div>

		<!-- Tab content -->
		<router-outlet />
	</div>
</div>
