<div class="flex h-screen">
	<!-- Left Side -->
	<div class="hidden lg:flex w-1/2 bg-primary text-surface flex-col justify-center px-16 pt-30 pb-12">

		<div class="flex flex-col justify-center items-center gap-4">
			<div class="text-left mat-display-medium w-full">
				Grow with {{ programStore.program()?.name }}
			</div>
			<p class="mat-title-large text-surface-variant w-full text-left">
				Earn rewards for sharing what you love. Track referrals,
				commissions, and growth — all in one place.
			</p>
		</div>

		<div>
			<p class="absolute bottom-4 mat-body-large">
				<span class="text-surface-variant">Powered by </span>
				<span class="text-surface">Cliq</span>
			</p>
		</div>
	</div>

	<ng-content />
</div>
