<nav class="h-18 w-full border-b border-outline-variant px-8 py-4 bg-surface-container-lowest flex items-center">
    <div class="w-full flex flex-row justify-between items-center">
        <app-logo imgClass="size-[40px]" />
        <div class="flex justify-between gap-6 items-center">
            <!-- Profile Avatar -->
            <div class="w-10 h-10 rounded-full bg-primary-container flex items-center justify-center cursor-pointer">
                <span class="text-on-primary-container text-sm font-medium">A</span>
            </div>
        </div>
    </div>
</nav>