<nav class="h-18 w-full border-b border-outline-variant px-8 py-[16px] bg-surface-container-lowest flex items-center">
    <div class="w-full flex flex-row justify-between items-center">
        <div class="flex items-center gap-3">
            <div class="w-[36px] h-[36px] rounded-full bg-on-surface flex items-center justify-center">
                <mat-icon class="text-on-primary material-symbols-outlined !flex !items-center !justify-center !w-[20px] !h-[20px] !text-[20px] !leading-none">diversity_2</mat-icon>
            </div>
            <span class="text-on-surface text-3xl">Cliq</span>
        </div>
        <div class="flex justify-between gap-6 items-center">
            <!-- Choose Program -->
            <app-choose-program></app-choose-program>
            <!-- Profile Avatar -->
            <app-profile></app-profile>
        </div>
    </div>
</nav>