<div class="w-full h-auto gap-[26px]">
	<div class="w-full flex flex-col gap-8">

		<!-- Header -->
		<header class="w-full h-auto flex flex-col gap-5">

			<!-- Dashboard welcome header with date range filter -->
			<div class="w-full flex justify-between items-center">
				<div>
					<span class="text-on-surface mat-title-large">
						Welcome to your dashboard, {{ program()?.name }}!
					</span>
					<div class="text-on-surface-variant mat-body-medium mt-1">
						Today is {{ today | date:'EEEE, d MMM yyyy' }}
					</div>
				</div>
				<div>
					<app-date-range-filter></app-date-range-filter>
				</div>
			</div>

			<!-- Statistics info -->
			<div class="w-full flex flex-row gap-5">
				@if (isAnalyticsLoading()) {
					<!-- Skeleton for Revenue and Commission stats -->
					<div class="w-1/2 h-[260px] flex flex-col gap-px rounded overflow-hidden">
						<ngx-skeleton-loader [theme]="{
							width: '100%',
							height: '130px',
							borderRadius: '0px',
							backgroundColor: '#E9E4F0'
						}" />
						<ngx-skeleton-loader [theme]="{
							width: '100%',
							height: '130px',
							borderRadius: '0px',
							backgroundColor: '#E9E4F0'
						}" />
					</div>
					<!-- Skeleton for Signups and Purchases Stats -->
					<div class="w-1/2 h-[260px] flex flex-col gap-4">
						<ngx-skeleton-loader [theme]="{
							width: '100%',
							height: '122px',
							borderRadius: '8px',
							backgroundColor: '#E9E4F0'
						}" />
						<ngx-skeleton-loader [theme]="{
							width: '100%',
							height: '122px',
							borderRadius: '8px',
							backgroundColor: '#E9E4F0'
						}" />
					</div>
				} @else {
					<!-- Revenue and Commission stats -->
					<div class="w-1/2 h-[260px] flex flex-col border border-outline-variant rounded px-4">

						<!-- Total Revenue stats -->
						<div class="w-full flex flex-col h-[130px] px-2 py-6 gap-4">
							<div class="mat-body-large text-on-surface underline decoration-dotted decoration-outline decoration-[10%] underline-offset-[40%]">
								<span
									[matTooltip]="tooltips.get('revenue')!"
									matTooltipPosition="above"
								>
									Total Revenue
								</span>
							</div>
							<div class="mat-headline-large text-on-surface">
								<span>{{ analytics()?.totalRevenue | formatCurrency:program()?.currency }}</span>
							</div>
						</div>

						<mat-divider class="border-outline-variant"></mat-divider>

						<!-- Total Commission stats -->
						<div class="w-full flex flex-col h-[130px] px-2 py-6 gap-4">
							<div class="mat-body-large text-on-surface underline decoration-dotted decoration-outline decoration-[10%] underline-offset-[40%]">
								<span
									[matTooltip]="tooltips.get('commissions')!"
									matTooltipPosition="above"
								>
									Total Commission
								</span>
							</div>
							<div class="mat-headline-large text-secondary">
								<span>{{ analytics()?.totalCommissions | formatCurrency:program()?.currency }}</span>
							</div>
						</div>
					</div>

					<!-- Signups and Purchases Stats -->
					<div class="w-1/2 h-[260px] flex flex-col gap-4">

						<!-- Signups -->
						<div class="w-full flex flex-col h-[122px] border border-outline-variant rounded p-6 gap-4">
							<div class="mat-body-large text-on-surface underline decoration-dotted decoration-outline decoration-[10%] underline-offset-[40%]">
								<span
									[matTooltip]="tooltips.get('signups')!"
									matTooltipPosition="above"
								>
									Signups
								</span>
							</div>
							<div class="mat-title-large text-on-surface">
								<span>{{ analytics()?.totalSignups | zeroToDash }}</span>
							</div>
						</div>

						<!-- Purchases -->
						<div class="w-full flex flex-col h-[122px] border border-outline-variant rounded p-6 gap-4">
							<div class="mat-body-large text-on-surface underline decoration-dotted decoration-outline decoration-[10%] underline-offset-[40%]">
								<span
									[matTooltip]="tooltips.get('purchases')!"
									matTooltipPosition="above"
								>
									Purchases
								</span>
							</div>
							<div class="mat-title-large text-on-surface">
								<span>{{ analytics()?.totalPurchases | zeroToDash }}</span>
							</div>
						</div>
					</div>
				}
			</div>
		</header>

		<!-- Top Promoters Section -->
		<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
			<!-- Top promoters by signups -->
			<ng-container *ngIf="isSignupsLoading(); else signupsContent">
			<ngx-skeleton-loader [theme]="{
				width: '100%',
				height: '280px',
				borderRadius: '8px',
				backgroundColor: '#E9E4F0'
			}"></ngx-skeleton-loader>
		</ng-container>
		<ng-template #signupsContent>
			<app-popularity-chart
				[title]="'Top promoters by signups'"
				[labelColumn]="'Promoters'"
				[valueColumn]="'Commission'"
				[alternateValueColumn]="'Signups'"
				[data]="signupsPopularityData()"
				[navigationText]="'View all promoters'"
				[navigationLink]="getSignupsPromotersLink()"
				[currency]="program()?.currency || 'INR'"
				[showToggle]="true"
				[isLoading]="isSignupsLoading()"
				[useSubValueAsAlternate]="true"
			>
			</app-popularity-chart>
		</ng-template>

		<!-- Top promoters by purchases -->
		<ng-container *ngIf="isPurchasesLoading(); else purchasesContent">
			<ngx-skeleton-loader [theme]="{
				width: '100%',
				height: '280px',
				borderRadius: '8px',
				backgroundColor: '#E9E4F0'
			}"></ngx-skeleton-loader>
		</ng-container>
		<ng-template #purchasesContent>
			<app-popularity-chart
				[title]="'Top promoters by purchases'"
				[labelColumn]="'Promoters'"
				[valueColumn]="'Commission'"
				[alternateValueColumn]="'Revenue'"
				[data]="purchasesPopularityData()"
				[navigationText]="'View all promoters'"
				[navigationLink]="getPurchasesPromotersLink()"
				[showSubValue]="true"
				[currency]="program()?.currency || 'INR'"
				[showToggle]="true"
				[isLoading]="isPurchasesLoading()"
			>
			</app-popularity-chart>
		</ng-template>
	</div>

	<!-- Analytics Chart Section -->
	<div class="mt-6 rounded-lg overflow-hidden">
		<ng-container *ngIf="isDayWiseLoading(); else chartContent">
			<ngx-skeleton-loader [theme]="{
				width: '100%',
				height: '450px',
				borderRadius: '8px',
				backgroundColor: '#E9E4F0'
			}">
			</ngx-skeleton-loader>
		</ng-container>
		<ng-template #chartContent>
			<div class="border border-outline-variant rounded-lg overflow-hidden">
				<app-analytics-chart
					[graphData]="dayWiseData()"
					[period]="period()"
					[dataType]="dataType()"
					[currency]="program()?.currency || 'INR'"
				>
				</app-analytics-chart>
			</div>
		</ng-template>
	</div>

	</div>
</div>
