<mat-sidenav-container class="h-screen fixed">
	<mat-sidenav opened mode="side" class="!w-[272px] bg-surface-container-lowest" disableClose>
		<div class="pt-[32px] pr-[16px] pl-[16px]">
			<mat-nav-list class="cursor-pointer">
				<a routerLink="./home/dashboard" routerLinkActive #dashboard="routerLinkActive" class="block mb-2">
					<mat-list-item [activated]="dashboard.isActive" class="px-4 py-1">
						<mat-icon matListItemIcon [class]="`text-on-surface material-symbols-outlined`">
							browse
						</mat-icon>
						<div matListItemTitle [class]="`font-sans leading-[20px] ${dashboard.isActive ? 'text-on-surface font-semibold' : 'text-on-secondary-container'}`">
							Dashboard
						</div>
					</mat-list-item>
				</a>
				<a routerLink="./home/referrals" routerLinkActive #referrals="routerLinkActive" class="block mb-2">
					<mat-list-item [activated]="referrals.isActive" class="px-4 py-1">
						<mat-icon matListItemIcon [class]="`text-on-surface material-symbols-outlined`">
							supervised_user_circle
						</mat-icon>
						<div matListItemTitle [class]="`font-sans leading-[20px] ${referrals.isActive ? 'text-on-surface font-semibold' : 'text-on-secondary-container'}`">
							Referrals
						</div>
					</mat-list-item>
				</a>
				<a routerLink="./home/reports" routerLinkActive #reports="routerLinkActive" class="block mb-2">
					<mat-list-item [activated]="reports.isActive" class="px-4 py-1">
						<mat-icon matListItemIcon [class]="`text-on-surface material-symbols-outlined`">
							description
						</mat-icon>
						<div matListItemTitle [class]="`font-sans leading-[20px] ${reports.isActive ? 'text-on-surface font-semibold' : 'text-on-secondary-container'}`">
							Reports
						</div>
					</mat-list-item>
				</a>
			</mat-nav-list>
		</div>
	</mat-sidenav>
</mat-sidenav-container>
