<mat-dialog-content class="w-[516px] rounded-[5px] p-6 bg-surface-container-lowest">
	<form [formGroup]="createLinkForm" (ngSubmit)="onSubmit()">
		<div class="flex flex-col gap-8">
			<!-- Create Link Header -->
			<div class="flex justify-between">
				<div class="flex flex-col gap-2">
					<div class="size-6">
						<mat-icon class="text-on-surface">
							add_link
						</mat-icon>
					</div>
					<div class="text-on-surface mat-title-large">
						<span>Create Link</span>
					</div>
				</div>
				<button type="button" mat-icon-button class="cursor-pointer" (click)="closeDialog()">
					<mat-icon>
						close
					</mat-icon>
				</button>
			</div>

			<!-- Form fields -->
			<div class="flex flex-col gap-6">
				<mat-form-field [appearance]="'outline'" class="w-full">
					<mat-label>Name</mat-label>
					<input type="text" matInput formControlName="name" class="w-full max-w-[468px]" required/>
				</mat-form-field>

				<mat-form-field [appearance]="'outline'" class="w-full">
					<mat-label>Link ref value</mat-label>
					<input type="text" matInput formControlName="linkRefVal" required/>
				</mat-form-field>

				@if (createLinkForm.hasError('invalidRefVal')) {
				<mat-error class="text-on-error-container"><span>Invalid ref val!</span></mat-error>
				}

				<div class="flex flex-col gap-3 mat-body-medium">
					<div class="w-[118px] text-on-surface-variant">
						<span>Link preview</span>
					</div>
					<div
						class="w-full max-w-[468px] flex items-center gap-0 bg-surface-container-low text-outline rounded-[5px] p-4">
						<span>
							{{ programStore.program()?.website + '?ref=' }}
						</span>
						<span class="text-on-surface">
							{{ linkRefSignal() }}
						</span>
						<span>
							{{ `-${randomCode()}` }}
						</span>
					</div>
				</div>

			</div>
		</div>

		<!-- Dialog control buttons -->
		<div>
			<mat-dialog-actions class="!px-0 flex justify-end gap-2">
				<button matRipple mat-button mat-dialog-close type="button"
					class="w-auto min-w-[70px] h-10 text-primary mat-label-large cursor-pointer">Cancel</button>
				<button mat-flat-button type="submit"
					class="w-auto min-w-[93px] h-10 rounded-full bg-primary text-on-primary mat-label-large cursor-pointer">
					Create
				</button>
			</mat-dialog-actions>
		</div>
	</form>
</mat-dialog-content>
