<app-form-dialog-box
	[formGroup]="editPromoterForm"
	[onSubmit]="onSubmit"
	height="h-auto"
	icon="edit"
	headerText="Edit Promoter"
	submitBtnText="Save"
>
	<!-- Form fields -->
	<div class="flex flex-col gap-8">
		<mat-form-field [appearance]="'outline'" class="w-full" subscriptSizing="dynamic">
			<mat-label>Promoter name</mat-label>
			<input type="text" matInput formControlName="name" class="w-full max-w-[468px]" />
		</mat-form-field>

		<mat-form-field [appearance]="'outline'" class="w-full" subscriptSizing="dynamic">
			<mat-label>Logo URL</mat-label>
			<input type="text" matInput formControlName="logoUrl" class="w-full max-w-[468px]" />
		</mat-form-field>
	</div>
</app-form-dialog-box>
