<mat-dialog-content class="w-[448px] h-auto bg-surface-container-lowest rounded-[5px] p-6 ">
	<form (ngSubmit)="onSubmit()" class="flex flex-col gap-6">
		<div class="w-full h-auto max-h-20 flex flex-col gap-4">

			<div class="flex gap-4 justify-between items-center">
				<div><span class="mat-title-medium text-on-surface">{{ data.title }}</span></div>
				<button type="button" mat-icon-button class="cursor-pointer" (click)="closeDialog()">
					<mat-icon>
						close
					</mat-icon>
				</button>
			</div>

			<div class="w-full mat-body-medium text-on-surface-variant">
				<p>{{ data.message }}</p>
			</div>
		</div>

		<mat-dialog-actions class="!p-0 flex justify-end gap-2">
			<button matRipple mat-button mat-dialog-close type="button"
				class="w-auto min-w-[70px] h-10 text-primary mat-label-large cursor-pointer">{{ data.cancelButtonText
				}}</button>
			<button mat-flat-button type="submit"
				class="w-auto min-w-[93px] h-10 rounded-full bg-primary text-on-primary mat-label-large cursor-pointer">
				{{ data.confirmButtonText }}
			</button>
		</mat-dialog-actions>
	</form>
</mat-dialog-content>
